<section class="weather-info">

    <div class="weather-card">
        <h1>Current Weather In Your Area</h1>
        <div class="temperature">Temperature: {{temperature}}</div>
        <div class="details">
            <p>Humidity: {{humidity}}</p>
            <p>Wind Speed: {{windSpeed}}</p>
<!--            define and implemented more functions down here-->
        </div>
    </div>
</section>