{{!-- home.handlebars --}}
<h1>Current Weather</h1>
<div class="weather-card">
    <div class="temperature">Temperature</div>
    <div class="details">
        <p>Humidity: 60%</p>
        <p>Wind Speed: 10 km/h</p>
    </div>
</div>

<section class="weather-map">
    <h2>Interactive Weather Map</h2>
    <div id="map"></div> <!-- This is where the map will be rendered -->
</section>
